/* body {
    background-color: rebeccapurple;
} */

.container {
    width: 60%;
    height: 700px;
    margin: auto;
    /* background-color: brown; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.box{
    width: 310px;
    height: 600px;
    background-color: rgb(240, 236, 236);
    border: 1px solid black;
}

.imgFir{
    object-fit: contain;
    height: 100%;
}
.imgSec{
    object-fit: contain;
    width: 100%;
}
.box-text{
    text-align: center;
    line-height: 1.2;
    font-size: 1rem;
}
.btn-format{
    text-align: center;
    line-height: 50px;
}
button{ 
    padding: 10px 20px;
    background-color: rgb(230, 35, 35);
    color: white;
    border-radius: 20px;
    width: 18rem;
}